.grid-container {
  width: 90%;
  display: grid;
  grid-template-columns: 2fr 4fr;
  grid-gap: .5em .5em;
  margin: 0 auto;
}

.masthead {
  grid-column: 1/4;
  background-color: black;
}
.masthead h1 {
  margin: .25em 0;
  color: white;
}

.summary {
  grid-row-start: 3;
  grid-row-end: 3;
  grid-column-start: 1;
  grid-column-end: 4;
  margin: 0 2em;
  border-bottom: 1px solid black;
}

.quote {
  grid-row-start: 5;
  grid-row-end: 5;
  grid-column-start: 1;
  grid-column-end: 1;
  padding: 0 2em;
}
.quote > p {
  font-style: italic;
}

.examples {
  grid-row: 4;
  grid-column-start: 2;
  grid-column-end: 4;
  margin: 0 1em;
}
.examples dd {
  margin-bottom: 1em;
}

.references {
  grid-row: 5;
  grid-column-start: 2;
  grid-column-end: 4;
  margin: 0 1em;
}
.references dd {
  margin-bottom: 1em;
}


