.grid-container {
  width: 90%;
  // border: 1px solid rebeccapurple;
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-gap: .5em .5em;
  margin: 0 auto;
}

.masthead {
  height: 50vh;
  grid-column: 1 / -1;
  grid-row: 1 / 1;
  background-image: url('../images/tea-ceremony.jpg');
  background-position: 60% 40%;


  h1 {
    z-index: 10;
    color: white;
    margin-left: 1em;
  }
}

.content {
  grid-column: 2 / 6;
  grid-row: 3 / 4;

  blockquote {
    color: #4a2512;
    clear: both;
    // float: left;
    font-size: calc(var(--p-font-size-min) * 1.5em);
    line-height: calc(var(--p-line-height-min) * 1.125em);
  }
}
