.grid-container {
  width: 90%;
  // border: 1px solid rebeccapurple;
  display: grid;
  grid-template-columns: 2fr 4fr;
  grid-gap: .5em .5em;
  margin: 0 auto;
}

.masthead {
  grid-column: 1/4;
  // border: 3px dotted blue;
  background-color: black;

  h1 {
    margin: .25em 0;
    color: white;
  }
}

.summary {
  // border: 4px dotted green;
  grid-row-start: 3;
  grid-row-end: 3;
  grid-column-start: 1;
  grid-column-end: 4;
  margin: 0 2em;
  border-bottom: 1px solid black;
}

.quote {
  grid-row-start: 5;
  grid-row-end: 5;
  grid-column-start: 1;
  grid-column-end: 1;
  padding: 0 2em;

  > p {
    font-style: italic;
  }
}

.examples {
  // border: 4px dotted orangered;
  grid-row: 4;
  grid-column-start: 2;
  grid-column-end: 4;
  margin: 0 1em;

  dd {
    margin-bottom: 1em;
  }
}

.references {
  // border: 4px dotted orangered;
  grid-row: 5;
  grid-column-start: 2;
  grid-column-end: 4;
  margin: 0 1em;
  dd {
    margin-bottom: 1em;
  }
}
